@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Orbitron&display=swap')

body
  /* Photo by Diego PH on Unsplash */
  background-color #005
  background-size cover
  background-attachment fixed
  background-position top center
  margin 0
  // 設定bs文字變數
  font-family var(--font-family-sans-serif), 'Noto Sans TC'

#app
  
  width 100vw
  height 100vh
  color #fff

#time
  font-family Orbitron

#content
  height 80vh

#footer
  height 20vh

#todos table
  table-layout fixed

.cusrsor-pointer
  cursor pointer



